@include media-mobile {
    .fixed {
        height: 100%;
        overflow: hidden;
    }
    .open {
        transform: translateX(-150vw);
    }
    .header {
        height: 100vh;
        background: url(../Images/mobile/image-hero.jpg);
        background-size: cover;
        position: relative;
        margin-bottom: 5em;
        .nav-container {
            position: fixed;
            nav {
                width: 85%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding-top: 2em;
                .menu-hamburger {
                    display: block;
                    position: relative;
                    transform: translateY(-10px);
                    margin-right: 1em;
                    ;
                    svg {
                        position: fixed;
                        z-index: 10;
                    }
                }
                .logo {
                    position: relative;
                    z-index: 10;
                }
                .menu {
                    background: $Black;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100vh;
                    transition: all 250ms ease-in-out;
                    .nav-links {
                        flex-direction: column;
                        width: 85%;
                        height: 100vh;
                        margin: 0 auto;
                        justify-content: center;
                        .nav-link {
                            font-size: 1.5rem;
                            margin-bottom: 0.7em;
                            .nav-link-item {
                                margin: 0em;
                                text-transform: uppercase;
                                font-family: $text;
                            }
                        }
                    }
                }
            }
        }
        .title-container {
            height: 100vh;
            justify-content: center;
            .title {
                font-size: 2.2rem;
            }
        }
    }
    .second-section {
        margin-bottom: 5em;
        .container {
            flex-direction: column;
            .img-container {
                width: 100%;
            }
            .content-container {
                background: $white;
                position: unset;
                left: unset;
                right: unset;
                bottom: unset;
                padding: 2em 0em 0em 0em !important;
                .content-head {
                    width: 100%;
                    font-family: $text;
                    text-transform: uppercase;
                    font-size: 1.9rem !important;
                    margin-bottom: 1em;
                }
                .content-detail {
                    font-family: $heading;
                    color: $DarkGray;
                    width: 100% !important;
                }
            }
        }
    }
}

@include media-tablet {
    .fixed {
        height: 100%;
        overflow: hidden;
    }
    .open {
        transform: translateX(-100vw);
    }
    .header {
        .nav-container {
            position: fixed;
            nav {
                width: 85%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding-top: 2em;
                .menu-hamburger {
                    display: block;
                    position: relative;
                    transform: translateY(-10px);
                    margin-right: 1em;
                    ;
                    svg {
                        position: absolute;
                        z-index: 10;
                    }
                }
                .logo {
                    position: relative;
                    z-index: 10;
                }
                .menu {
                    background: $Black;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transition: all 250ms ease-in-out;
                    .nav-links {
                        flex-direction: column;
                        width: 85%;
                        height: 100vh;
                        margin: 0 auto;
                        justify-content: center;
                        .nav-link {
                            font-size: 1.5rem;
                            margin-bottom: 0.7em;
                            .nav-link-item {
                                margin: 0em;
                                text-transform: uppercase;
                                font-family: $text;
                            }
                        }
                    }
                }
            }
        }
        .title-container {
            height: 100vh;
        }
    }
    .second-section {
        margin-bottom: 5em;
        .container {
            flex-direction: column;
            .img-container {
                width: 100%;
            }
            .content-container {
                background: $white;
                position: unset;
                left: unset;
                right: unset;
                bottom: unset;
                padding: 2em 0em 0em 0em !important;
                .content-head {
                    width: 100%;
                    font-family: $text;
                    text-transform: uppercase;
                    font-size: 3rem;
                    margin-bottom: 1em;
                    text-align: center;
                }
                .content-detail {
                    font-family: $heading;
                    color: $DarkGray;
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}

@include media-mini-laptop {
    .content-container {
        .content-head {
            font-size: 2.21rem !important;
        }
    }
}