@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

.header {
  background: url(../Images/desktop/image-hero.jpg);
  width: 100%;
  margin-bottom: 7em;
  height: 100vh;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header .nav-container {
  width: 100%;
}

.header .nav-container nav {
  padding-top: 5em;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-container nav .menu-hamburger {
  display: none;
}

.header .nav-container nav .menu .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header .nav-container nav .menu .nav-links .nav-link .nav-link-item {
  margin: 0em 1em;
  font-family: "Alata", sans-serif;
  color: white;
  position: relative;
}

.header .nav-container nav .menu .nav-links .nav-link .nav-link-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  bottom: -4px;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header .nav-container nav .menu .nav-links .nav-link .nav-link-item:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header .title-container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .title-container .title {
  padding: 0.6em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: white;
  width: 14ch;
  font-size: 4rem;
  line-height: 1.1;
  text-transform: uppercase;
  border: 2px solid white;
}

.second-section {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 7em;
}

.second-section .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.second-section .container .img-container {
  width: 60%;
}

.second-section .container .img-container img {
  width: 100%;
}

.second-section .container .content-container {
  background: white;
  position: absolute;
  right: 10%;
  padding-left: 5em;
  padding-top: 5em;
  bottom: 0;
  left: 45%;
}

.second-section .container .content-container .content-head {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.second-section .container .content-container .content-detail {
  font-family: "Alata", sans-serif;
  width: 40ch;
  color: #8c8c8c;
}

@media screen and (max-width: 767px) {
  .fixed {
    height: 100%;
    overflow: hidden;
  }
  .open {
    -webkit-transform: translateX(-150vw);
            transform: translateX(-150vw);
  }
  .header {
    height: 100vh;
    background: url(../Images/mobile/image-hero.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 5em;
  }
  .header .nav-container {
    position: fixed;
  }
  .header .nav-container nav {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2em;
  }
  .header .nav-container nav .menu-hamburger {
    display: block;
    position: relative;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    margin-right: 1em;
  }
  .header .nav-container nav .menu-hamburger svg {
    position: fixed;
    z-index: 10;
  }
  .header .nav-container nav .logo {
    position: relative;
    z-index: 10;
  }
  .header .nav-container nav .menu {
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .header .nav-container nav .menu .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav-container nav .menu .nav-links .nav-link {
    font-size: 1.5rem;
    margin-bottom: 0.7em;
  }
  .header .nav-container nav .menu .nav-links .nav-link .nav-link-item {
    margin: 0em;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
  }
  .header .title-container {
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .title-container .title {
    font-size: 2.2rem;
  }
  .second-section {
    margin-bottom: 5em;
  }
  .second-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second-section .container .img-container {
    width: 100%;
  }
  .second-section .container .content-container {
    background: white;
    position: unset;
    left: unset;
    right: unset;
    bottom: unset;
    padding: 2em 0em 0em 0em !important;
  }
  .second-section .container .content-container .content-head {
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.9rem !important;
    margin-bottom: 1em;
  }
  .second-section .container .content-container .content-detail {
    font-family: "Alata", sans-serif;
    color: #8c8c8c;
    width: 100% !important;
  }
}

@media screen and (max-width: 1023px) {
  .fixed {
    height: 100%;
    overflow: hidden;
  }
  .open {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  .header .nav-container {
    position: fixed;
  }
  .header .nav-container nav {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2em;
  }
  .header .nav-container nav .menu-hamburger {
    display: block;
    position: relative;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    margin-right: 1em;
  }
  .header .nav-container nav .menu-hamburger svg {
    position: absolute;
    z-index: 10;
  }
  .header .nav-container nav .logo {
    position: relative;
    z-index: 10;
  }
  .header .nav-container nav .menu {
    background: black;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .header .nav-container nav .menu .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav-container nav .menu .nav-links .nav-link {
    font-size: 1.5rem;
    margin-bottom: 0.7em;
  }
  .header .nav-container nav .menu .nav-links .nav-link .nav-link-item {
    margin: 0em;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
  }
  .header .title-container {
    height: 100vh;
  }
  .second-section {
    margin-bottom: 5em;
  }
  .second-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second-section .container .img-container {
    width: 100%;
  }
  .second-section .container .content-container {
    background: white;
    position: unset;
    left: unset;
    right: unset;
    bottom: unset;
    padding: 2em 0em 0em 0em !important;
  }
  .second-section .container .content-container .content-head {
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1em;
    text-align: center;
  }
  .second-section .container .content-container .content-detail {
    font-family: "Alata", sans-serif;
    color: #8c8c8c;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 1438px) {
  .content-container .content-head {
    font-size: 2.21rem !important;
  }
}
/*# sourceMappingURL=style.css.map */